@use "../../styles/variables" as *;
.button {
	width: $btn-width;
	height: $btn-height;

	align-self: center;

	border: none;
	border-radius: $radius-sm;

	background: $color-primary;
	color: $color-white;

	font-size: $font-medium;
	font-weight: $font-bold;

	letter-spacing: 0.5px;
	text-transform: uppercase;

	cursor: pointer;
}
