@use "../../styles/variables" as *;

.wrapper {
  width: 100%;
  min-width: 100px;
  font-family: $font-lato;
}

.select {
  height: 64px;
  border-radius: 6px;
  background-color: #ffffff;

  :global(.MuiOutlinedInput-notchedOutline) {
    border-color: #d9d9d9;
  }

  &:hover :global(.MuiOutlinedInput-notchedOutline) {
    border-color: #d9d9d9;
  }

  &:global(.Mui-focused) :global(.MuiOutlinedInput-notchedOutline) {
    border-color: #d9d9d9 !important;
    border-width: 1px;
  }

  :global(.MuiSelect-select) {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 36px !important;
    font-size: 16px;
    font-weight: 500;
    color: #1f1f1f;
    box-sizing: border-box;
    font-family: $font-lato !important;
  }

  :global(.MuiSelect-icon) {
    color: black;
    font-size: 20px;
    right: 12px;
    top: calc(50% - 10px);
  }
}

:global(.MuiMenuItem-root.Mui-selected) {
  color: #fff !important;
  background-color: #26266d !important;
}

:global(.MuiMenuItem-root.Mui-selected:hover) {
  color: #fff !important;
  background-color: #26266d !important;
}

.valueBox {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}

.label {
  font-size: 14px;
  color: #7a7a7a;
  line-height: 1.2;
  font-family: $font-lato !important;
}

.value {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #1f1f1f;
  font-family: $font-lato !important;
}

.menuItem {
  font-family: $font-lato !important;
}

.menuPaper {
  box-shadow: none !important;
}
