@use "./variables" as *;

/* FLEX UTILITIES */

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center {
  display: flex;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* MEDIA QUERY */

@mixin mq($width, $type: min) {
  @if $type == max {
    @media (max-width: #{$width - 1px}) {
      @content;
    }
  } @else {
    @media (min-width: $width) {
      @content;
    }
  }
}

/* PAGE CONTAINER */

@mixin container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $space-xl;
}

/* CARD */

@mixin card {
  background: $white;
  border-radius: 6px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
}

/* BUTTON TEXT */

@mixin button-text {
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}